<HTML>

<HEAD>
    <TITLE>Đăng ký</TITLE>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="registration.css">
</HEAD>

<Body>
    <div class="to">
        <form class="form" action="registration.php">
            <h2>Đăng ký</h2>
            <lable style="margin-left: -150px;"> Họ và tên </lable>
            <input type="text" name="fullname"></input>
            <lable style="margin-left: -180px;"> Email </lable>
            <input type="email" name="email"></input>
            <lable style="margin-left: -150px;"> Mật khẩu </lable>
            <input type="password" name="password"></input>
            <lable style="margin-left: -90px;"> Nhập lại mật khẩu </lable>
            <input type="password" name="repassword"></input>
            <lable style="margin-left: -130px;"> Số điện thoại </lable>
            <input type="text" name="phone"></input>
            <input id="submit" type="submit" name="submit" value="Đăng ký">
        </form>
    </div>
</body>

</HTML>