body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.right_pane {
    width: 100%;
    background-color: rgb(239, 247, 246);
    overflow: auto;
}

.under_cover {
    display: flex;
}

.background {
    width: 100%;
    position: relative;
}

.background_image {
    background-image: url("../assets/background.jpg");
    height: 200px;
    width: 100%;
    position: relative;
}

.background_image_search {
    display: flex;
    margin-left: 15%;
}

.background_image_change_image button {
    background-color: rgb(175, 174, 174);
    opacity: 0.7;
    color: white;
    border: 0px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
}

.background_image hr {
    width: 70%;
    color: white;
}


.btn-group button {
    background-color: #FFFFFF;
    /* Green background */
    border: 1px solid grey;
    /* Green border */
    color: black;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Add a background color on hover */

.btn-group button:hover {
    background-image: linear-gradient(to top, #82D4E4, #19A0EF);
    color: white;
}

.btn-group button:focus {
    background-image: linear-gradient(to top, #82D4E4, #19A0EF);
    color: white;
}



.btn_select {
    display: flex;
}

.btn_select button {
    border-radius: 10px;
    border: 0px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.icon_select {
    width: 40px;
    height: 40px;
}


/*About----------- */

.about_pane {
    width: 25%;
    height: 35%;
    background-color: #FFFFFF;
    margin-top: 40px;
}

.about_pane_title {
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.about_pane_title a {
    margin-top: 15px;
    font-size: 15px;
    height: 100%;
    text-align: center;
}

.about_pane_title img {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 45%;
}

.about_pane hr {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
}

.infoUser,
.follow {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.data_info {
    color: blue;
}

.follow div {
    text-align: center;
}

.follower {
    margin-left: 5px;
}

.following {
    margin-right: 5px;
}

.hr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


/* The Modal (background) */

.container {
    width: 70%;
    margin: auto;
}


/* The Modal (background) */

.modal {
    display: none;
    /* mặc định được ẩn đi */
    position: fixed;
    /* vị trí cố định */
    z-index: 1;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #E5FBFC;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 480px;
}


/*toppane*/

.toppane {
    width: 100%;
    height: 150px;
    float: top;
    text-align: left;
    border-collapse: collapse;
    text-align: center;
}

.image_cover {
    width: 70px;
    height: 70px;
}


/*bottompane*/

.bottompane {
    width: 100%;
    height: 360px;
    position: relative;
    margin-top: 30px;
    float: bottom;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #E5FBFC;
    border-collapse: collapse;
}

.info_user {
    display: flex;
    margin-left: 60px;
    flex-direction: row;
}

.info_user div {
    flex: 1 1 auto;
}

#select_choose {
    flex-direction: row;
    display: flex;
}

#select_choose div {
    flex: 1 1 auto;
}

.input_text {
    width: 300px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #888;
}

#info_user_description {
    margin-left: 60px;
    display: flex;
}

#info_user_description div textarea {
    width: 500px;
}

#select_btn {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

#select_btn button,
#select_btn button:active {
    background-image: linear-gradient(#a6c5f3, #2b5adb);
    border: none;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

#select_btn button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#select_btn button:active {
    transform: translateY(4px);
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* dung chung */

.icon_medium {
    width: 3vw;
    height: 3vw;
}

.icon_small {
    width: 2vw;
    height: 2vw;
}

.icon_button {
    background-color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
}

.name {
    margin: 1.2em 0.75em;
    font-size: 1.1em;
}

.identify {
    display: inline-flex;
}


/* popup */

.notification__detail {
    position: absolute;
    background-color: rgb(247, 254, 254);
    margin-left: 140%;
    min-width: 200%;
    padding: 1em;
}

.relative {
    margin-right: 1em
}

.notification__content {
    display: inline-flex;
}

#notification {
    display: none;
}
::placeholder  {
    color: black;
}

#search__profile {
    position: absolute;
    z-index: 2;
    width: 70vw

}
#newfeed__profile {
    min-width: 70% !important;
}